.Cursor {
    border-radius: 100%;
    mix-blend-mode: difference;
    z-index: 1024;
    height: 7px;
    width: 7px;
    background-color: #fff;
}

.cursorFollower {
    border-radius: 100%;
    left: -1rem;
    top: -1rem;
    z-index: 1023;
    background: rgba(255, 255, 255, 0.6);
    will-change: transform;
}

// .cursor {
//     background-color: #111;
//     height: 32px;
//     width: 32px;
//     border-radius: 50%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     pointer-events: none;
// }

// .cursor,
// .cursorfollower {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 24px;
//   height: 24px;
//   border-radius: 50%;
//   background-color: rgba(154, 154, 154, 0.5);
//   pointer-events: none;
//   z-index: 9999;
// }


// .cursor {
//     &.active{
//         background-color: #272727;
//         transform: scale(1.5);
//   }
// }
// .cursorfollower {
//     &.active{
//       opacity: 0.6;
//   }
// }


.cursor {
    position: absolute;
    background-color: #202020;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 1024;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);

    &.active {
        opacity: 0.5;
        transform: scale(0);
    }

    &.hovered {
        opacity: 0.08;
    }
}

.cursorfollower {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.482);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1023;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(5px, 5px);

    &.active {
        opacity: 0.7;
        transform: scale(3);
    }

    &.hovered {
        opacity: 0.08;
    }
}
